<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Enabled>true</Enabled>
  <ServerUrl>http://files.cnblogs.com/files/junier/AutoUpdating.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Smth.rar" lastver="2.0.1008.2702" size="257052" />
    <LocalFile path="MobileSmth.rar" lastver="2.0.1008.2702" size="259570" />
  </UpdateFileList>
</Config>